body {
font-family:'Arial', sans-serif;
margin : 0 ;
padding : 0 ;
background-color:#fff8f2 ; /* Warna cream */
color:#444 ;
}

header{
text-align:center;padding:.75rem .25rem;background-color:#ffccd5;color:white;}
h1{ margin : 0 ;font-size : 2.5 em;}

.main{padding :.75 rem;}

.posts article{
margin-bottom : 2 em;background-color:#fff;border-radius :8 px;padding :.75 rem;.box-shadow :0 4 px 6 px rgba(0 ,0 ,0 ,.01);}
.posts article h2 {color:#ff7b9c;}/* Warna pink lebih tegas */}
footer{text-align:center;padding:.75 rem .25 rem;background-color:#ffe4 e1;margin-top :2 em}}
